.form {
  width: 350px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid black;
}

.label {
  font-size: 16px;
  font-weight: 500;
}
.input {
  display: block;
  margin-top: 5px;
}
.formBtn {
  width: 100px;
  margin-top: 20px;
  border: 1px solid lightgray;
  border-radius: 3px;
  cursor: pointer;
}
.formBtn:hover,
.formBtn:focus {
  background-color: lightskyblue;
}
